<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <title>COVID-19 - Ireland Case Data - Last {{days}} Days</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h1 class="display-6 text-center mb-4 mt-4">COVID-19 - Ireland Case Data - Last {{days}} Days</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th>Date</th>
              <th class="text-end">Cases</th>
              <th class="text-end">7 Day Average</th>
              <th class="text-end">14 Day Average</th>
              <th class="text-end">7 Day Per 100K</th>
              <th class="text-end">14 Day Per 100K</th>
          </thead>
          <tbody>
            {% for row in rows %}
            <tr>
              <td>{{row.Date}}</td>
              <td class="text-end">{{row.Cases}}</td>
              {% if row.Is7DayAverageRising %}
              <td class="bg-danger text-end">{{row.Num7DayAverage}}</td>
              {% else %}
              <td class="text-end">{{row.Num7DayAverage}}</td>
              {% endif %}
              {% if row.Is14DayAverageRising %}
              <td class="bg-danger text-end">{{row.Num14DayAverage}}</td>
              {% else %}
              <td class="text-end">{{row.Num14DayAverage}}</td>
              {% endif %}
              {% if row.Is7DayPer100KRising %}
              <td class="bg-danger text-end">{{row.Num7DayPer100K}}</td>
              {% else %}
              <td class="text-end">{{row.Num7DayPer100K}}</td>
              {% endif %}
              {% if row.Is14DayAverageRising %}
              <td class="bg-danger text-end">{{row.Num14DayPer100K}}</td>
              {% else %}
              <td class="text-end">{{row.Num14DayPer100K}}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <p><small>Rising values are highlighted in red</small></p>
      </div>
    </div>
  </div>
</body>

</html>